{% extends 'core/base.html'  %}


{% block contenedor %}


<div class="container">
    
    <div class="row">
        {% for serv in servicio %}
        <div class="col-6">
            <h3>Nombre:</h3>
            <p>{{ serv.nombre }}</p>

            <h3>Descripción:</h3>
            <p>{{ serv.descripcion }}</p>

            <h3>Imagen:</h3>
            <img src="{{ serv.imagen.url }}" alt="{{ serv.imagen }}" height="200" width="150">
            <hr>
        </div>
     
        {% endfor %}
    </div>
  
</div>



{% endblock %}