{% extends 'core/base.html' %}
{% block contenedor %}

<div class="row">
	<div class="col-md-12">
		<div class="card card-body">
            <p class="display-4 text-center">Usuario GET</p>
            <div class="form-group">
                <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                            <hr>
                <a  type="button" class="btn btn-outline-primary" href="{% url 'usuarios' %}">Regresar...</a>
                </form>
            </div> 
		</div>
	</div>
</div>

{% endblock %}